@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;

}

.nav {
  margin: auto;
  padding: 0;
  list-style-type: none;
  line-height: 1.5;
  text-align: center;
  background-color: #ffe500;
  font-family: "Georgia"
}

nav a {
  display: inline-block;
  padding: .6em;
  background-color: #b2a21a;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
}

nav a:hover {
  background-color: #cc1465;
  color: #fff;
}

ul {
  text-align: center;
  list-style-type: none;
}

body {
  margin: 0;
  background-color: #79756f;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #79756f;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: .3em;
}
